@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    <div class="col-md-4">
        <h2>Home</h2>
        <img src="http://vignette3.wikia.nocookie.net/onepiece/images/2/26/Chouchou_Manga_Pre_Timeskip_Infobox.png/revision/latest?cb=20130127045928" alt="Chouchou"/>
        
    </div>
    <div class="col-md-8">
        <br />
        <h2>Chou Chou's Store</h2>
        <p>Welcome to Chou Chou's Pet Store! We have a variety of adorable pets!</p>
        
    </div>
    
</div>